* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ffffff;
}
/* start nav bar design */
nav {
  margin-top: 10vh;
}
#nav_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgba(89, 88, 88, 0.9);
  border-bottom: 2px solid rgba(89, 88, 88, 0.9);
}

.nav_item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 2.5rem;
  letter-spacing: -2px;
  position: relative;
  font-family: monument;
}
.nav_item:nth-child(4) {
  width: 30%;
}
.left_border {
  padding: 15px 0;
  border-left: 2px solid rgba(89, 88, 88, 0.9);
}
.menu {
  display: none;
}
/* End nav bar design */

/* start promo video */
.video_section {
  height: 80vh;
  width: 100%;
  padding: 2vh 5vw;
  position: relative;
}
.promo_video {
  width: 100%;
  height: 100%;
  position: relative;
}
.promo_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.promo_video::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0%;
}
.video_overlay{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0%;
    padding: 0 3vw;
    z-index: 1;
}
.overlay_cont1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 5vh;
}
.overlay_cont1 h1{
font-size: 2rem;
font-family: monument;
}
.count{
  border: 2px solid white;
  padding: 2vh;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60%;
}
.overlay_cont2{
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay_cont2 h3{
  color: white;
}
.overlay_cont2 img{
  height: 3rem;
}
/* End promo video */

/* start scrolling images */
#Scrolling_image{
  width: 100%;
  height: 25vh;
  background-color: red;
  padding: 2vh 4vh;
}
.scroll_1{
  background-color: blue;
  width: 100%;
  height: 100%;
}






/* media quary */
@media (max-width: 900px) {
  /* start nav bar media quary */

  .menu {
    display: block;
  }
  .hidden {
    display: none;
  }
  .responsive {
    width: 100vw;
  }
  .responsive h1 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 5vw;
  }
  /* End nav bar media quary */
}
