* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ffffff;
}
/* start nav bar design */
nav {
  margin-top: 7vh;
}
#nav_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgba(89, 88, 88, 0.9);
  border-bottom: 2px solid rgba(89, 88, 88, 0.9);
}

.nav_item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 2.5rem;
  letter-spacing: -2px;
  position: relative;
  font-family: monument;
}
.nav_item:nth-child(4) {
  width: 30%;
}
.left_border {
  padding: 15px 0;
  border-left: 2px solid rgba(89, 88, 88, 0.9);
}
.menu {
  display: none;
}
/* End nav bar design */

/* start promo video */
.video_section {
  height: 80vh;
  width: 100%;
  padding: 2vh 5vw;
  position: relative;
}
.promo_video {
  width: 100%;
  height: 100%;
  position: relative;
}
.promo_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.promo_video::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0%;
}
.video_overlay{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0%;
    padding: 0 3vw;
    z-index: 1;
}
.overlay_cont1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 5vh;
}
.overlay_cont1 h1{
font-size: 2rem;
font-family: monument;
}
.count{
  border: 2px solid white;
  padding: 2vh;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60%;
}
.overlay_cont2{
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay_cont2 h3{
  color: white;
}
.overlay_cont2 img{
  height: 3rem;
}
/* End promo video */

/* start scrolling images */
#Scrolling_image{
  width: 100%;
  /* height: 25vh; */
  /* background-color: red; */
  padding: 1vh 1vh;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  
}
.scroll_1{
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  animation-name: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.scroll_1 img{

width: 16.2%;
/* height: 20%; */
border-radius: 50%;
object-fit: 30% 30%;
padding: 1vh;
cursor: pointer;
}

/* start amination on div */
@keyframes scroll {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
/* end amination on div */


/* alphabet section */
#alphabet{
  padding: 0 4vw;
  border-bottom: 1px solid rgba(80, 79, 79);
  border-top: 1px solid rgba(80, 79, 79);
  margin: 1vh 0vw;
  
}
.alphabet_cont{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1vh 2vw;
}

.alphabet_cont h1{
  text-transform: uppercase;
  border-radius: 50%;
  width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
  margin: 2px;
  padding: 5px;
  border: 1px solid rgba(82, 80, 80, 0.1);
  font-size: 1rem;  
}
.alphabet_cont h1:first-child{
  font-size: 1.2rem;
  margin: 5px;
  border: 1px solid black;
  padding: 2px;
  width: 60px;
height: 60px;
}
.alphabet_cont h1:hover{
  border: 1px solid black;
  cursor: pointer;
}
/*End alphabet section */

/* Start Gallery first section */
#Gallery1{
width: 100%;
padding: 0 4vw;
margin: 1vh 0vw;
display: flex;
justify-content: space-between;
}
.left{
  width: 55%;
  height: 90vh;
}
.left img{
  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: top;
}
.left h1{
  padding-top: 2%;
  margin-bottom: 2%;
  text-align: right;
  color: lightslategray;
}
.right{
width: 40%;
height: 90vh;
}
.right img{
  width: 100%;
  height: 80%;
object-fit: cover;
}
.text{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
.text_left{
  width: 45%;
}
.text_right{
  width: 45%;
}
/* End Gallery first section */

#single_img{
  width: 100%;
  height: 70vh;
  margin: 5vh 0vw;  
}
#single_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  padding: 0vh 3vw;
}
/* Start Gallery2 first section */
#Gallery2{
  width: 100%;
/* height: 70vh; */
padding: 0 4vw;
margin: 1vh 0vw;
display: flex;
justify-content: space-between;
}
.Gallery2_left{
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.Gallery2_left img{
  width: 100%;
  height: 55vh;
}
.Gallery2_right{
  width: 50%;
  height: 70vh;
}
.Gallery2_right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End Gallery2 first section */
/* media quary */
@media (max-width: 900px) {
  /* start nav bar media quary */

  .menu {
    display: block;
  }
  .hidden {
    display: none;
  }
  .responsive {
    width: 100vw;
  }
  .responsive h1 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 5vw;
  }
  .alphabet_cont{
    flex-wrap: wrap;
  }
  .alphabet_cont h1:first-child{
    margin-right:95%;
    height: 45px;
    margin-left: 5%;
  }

  #Gallery1{
    flex-direction: column;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .text{
    font-size: 0.7rem;
  }
  #Gallery2{
    flex-direction: column;

  }
  .Gallery2_left{
    width: 100%;
  }
  .Gallery2_right{
    width: 100%;
  }
  /* End nav bar media quary */
}
